# Tmux Web Terminal Configuration
PORT=80
PASSWORD=your_secure_password_here
JWT_SECRET=your_jwt_secret_here
DEFAULT_SHELL=/bin/bash

# HTTPS & SSL configuration
# DOMAIN_NAME=outshine.cloud
# HTTPS_PORT=443
# SSL_CERT_PATH=/etc/letsencrypt/live/outshine.cloud/fullchain.pem
# SSL_KEY_PATH=/etc/letsencrypt/live/outshine.cloud/privkey.pem

